[submodule ".\\3rdparty\\WindingNumber\\"]
	path = .\\3rdparty\\WindingNumber\\
	url = https://github.com/alecjacobson/WindingNumber.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
